.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
}

.nav-list-item{
    list-style: none;
}

.nav-list-item a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 300;
}

.nav-list-item a:hover{
    text-decoration: underline;
}

.contacts-block{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.contacts-block .contacts{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    justify-content: center;
    align-items: end;
    font-style: normal;
}

.contacts p{
    font-size: 1.125rem;
    font-weight: 600;
}

.contacts a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    text-decoration: none;
}

.call{
    font-family: "Montserrat", sans-serif;
    color: var(--blue);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
    padding: 0.75rem 1.125rem 0.875rem 1.125rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.openMenu{
    display: none;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    border: none;
    border-radius: 0.5rem;
}

.call:hover{
    background-color: var(--blue);
    color: #fff;
}

@media (max-width:1280px) {
    .nav-list{
        display: none;
    }

    .call{
        display: none;
    }

    .openMenu{
        display: flex;
    }

    .contacts p{
        font-size: 0.825rem;
    }
    
    .contacts a{
        font-size: 0.75rem;
    }
}